body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#gameArea {
    position: relative;
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#gameOverMessage {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
